<p><h1>Space Show Page</h1></p>

<br><%=@space.space_name%></br>
<%if @space.space_cost != nil%>
    <br><small>Cost to Buy: <%=@space.space_cost%></small></br>
    <small>Rent: <%=@space.rent_level1%></small>
<%end%>

