/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 8px;
}

.header {
    /* border-bottom: 1px solid black; */
    padding-bottom: 4px;
    margin: 4px auto 12px auto;

    display: flex;
    justify-content: space-between;
}

.inline_button {
    display: inline;
}

input[type="submit"] {
    transition: background-color 0.3s;
    padding: 6px 10px;
    margin: 6px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ddd;
    font-weight: 500;
}

input[type="submit"]:hover {
    background-color: lightgreen;
}

.distinct {
    border: 1px solid black;
    background-color: #ddd;
    margin: 4px;
    padding: 4px;
}

.game_container {
    display: grid;

    grid-template-columns: 7fr 3fr;
    grid-gap: 4px;
}

.individual_player_container {
    display: grid;

    grid-template-columns: 1fr 2fr;
    grid-gap: 4px;
}


.attribution {
    font-size: 8px;
}

.dice {
    width: 4vh;
    height: 4vh;
}

.space_landed, .card-drawn, .loser, .rent, .message {
    font-size: 18px;
    margin: 10px;
}

.actions {
    margin: 10px;
}

.current_player {
    font-size: 20px;
    margin: 8px;
}

.cards_container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
}

.card {
    width: 200px;
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
    background: #F0FFF0;
}

.spaces_container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
}

.space {
    width: 200px;
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
    background: #F0FFF0;
}

.card a, .space a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

.has_hover {
    position: relative;    
    transition: background-color 0.2s;
}

.hidden_hover {
    visibility: hidden;
    position: absolute;    
    z-index: 1;

    /* display: inline-block; */
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;    
    font-size: 13px;
}

.hidden_hover_down {
    left: 20%;
    top: 9vh;
}

.hidden_hover_up {
    left: 20%;
    top: -20vh;
}

.hidden_hover_right {
    left: 115%;
    top: 0vh;
}

.hidden_hover div {
    margin: 8px;
}

.has_hover:hover {
    background-color: lightgreen;
}

.has_hover:hover .hidden_hover {
    visibility: visible;
}

.sale_option {
    margin: 2px;
    padding: 2px;
}

.sell_form_container {
    border: 1px solid black;
    font-size: 14px;
    padding: 4px;
}