<div class="header">
    <span>
        <b>Monoparty!</b>
    </span>

    <span>
        <%= button_to "PLAYERS", players_path, method: :get, form_class: "inline_button" %>
        <%= button_to "GAMES", games_path, method: :get, form_class: "inline_button" %>
        <%= button_to "CARDS", cards_path, method: :get, form_class: "inline_button" %>
        <%= button_to "SPACES", spaces_path, method: :get, form_class: "inline_button" %>        
    </span>
</div>