<div class="header">
    <span style="font:bold 10pt/12pt arial;">
        <span style="display:inline-block;outline:solid 2px #ff0000;border:solid 2px #F0FFF0;background-color:#ff0000;color:#ffffff;font:normal 22px verdana,arial;letter-spacing:+5px;padding:1px 12px 1px 12px;">
            <a style="color:white; text-decoration:none;" href = "/">MONOPARTY!</a>
        </span>
    </span>

    <span>
        <%= button_to "PLAYERS", players_path, method: :get, form_class: "inline_button" %>
        <%= button_to "GAMES", games_path, method: :get, form_class: "inline_button" %>
        <%= button_to "CARDS", cards_path, method: :get, form_class: "inline_button" %>
        <%= button_to "SPACES", spaces_path, method: :get, form_class: "inline_button" %>        
    </span>
</div>